* {
    background-color: rgb(8, 9, 20);
    color: white;
    text-decoration-color: whitesmoke;
    text-justify: left;
}

p {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: -0.2px;
    word-spacing: 0px;
    color: white;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.projectLink:link {
    color: ghostwhite;
    text-decoration-color: ghostwhite;
    font-style: normal;
}

.projectLink:hover {
    color: crimson;
    text-decoration-color: crimson;
    font-style: normal;
}

.projectLink:visited {
    color: antiquewhite;
    text-decoration-color: lightcoral;
    font-style: normal;
}

em {
    color: ghostwhite;
}

div.columnLeft {
    top: 3%;
    display: inline-block;
    width: 33%;
}

div.columnRight {
    top: 3%;
    display: inline-block;
    width: 33%;
}

div.columnCenter {
    top: 3%;
    display: inline-block;
    width: 33%;
}

div.columnLeft > p {
    margin: 3%;
}

div.columnCenter > p {
    margin: 3%;
}

#bio p {
    display: inline;
    clear: none;
    margin: 10% 3%;
    vertical-align: text-top;
}

#bio img {
    float: right;
    margin: 15pt;
    outline: solid;
    outline-width: 2pt;
    outline-color: ghostwhite;
    outline-offset: 7pt;
}

hr {
    margin: 5pt;
}

h1 {
    text-align: center;
    outline: solid;
    outline-width: 2pt;
    outline-color: ghostwhite;
    padding: 1%;
    margin: 3%;
}

li {
    font-size: 12pt;
}

li p {
    margin-top: 1%;
    border: 0pt;
}

h2 {
    font-size: 16pt;
    margin-bottom: 0pt;
    border-bottom: 0pt;
    padding-bottom: 0pt;
}

h1 > a {
    font-size: 32px;
    outline: none;
    text-decoration: none;
}

a {
    color:ghostwhite;
}

.beegLink:link {
    color: ghostwhite;
}

.beegLink:hover {
    color: ghostwhite;
    font-style: italic;
}

.beegLink:active {
    color: ghostwhite;
    font-style: oblique;
}

.beegLink:visited {
    color: ghostwhite;
    font-style: italic;
}

a.returnToFront {
    width: 25%;
    margin: auto;
    display: block;
    text-align: center;
    font-size: 10pt;
}

.focusParagraph {
    width: 80%;
    font-size: 12pt;
    margin: 3% 10%;
}
