* {background-color: rgb(8, 9, 20);
    color: white;
    text-decoration-color: whitesmoke;
    text-justify: left;
}

p {font-family: "Times New Roman", Times, serif;
    font-size: 12px;
    letter-spacing: 0px;
    word-spacing: 0.4pt;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    margin: 20pt 10pt; 
}

em {
    color: ghostwhite;
}

div.columnLeft {
    display: inline-block;
    width: 33%;
    margin: auto;
    align-content: center;
    align-self: left;
}

div.columnRight {
    display: inline-block;
    width: 33%;
    margin: auto;
    align-content: center;
    align-self: right;
}

div.columnCenter {
    display: inline-block;
    width: 33%;
    margin: auto;
    align-content: center;
    align-self: center;
}

#bio p {
    display: inline;
    clear: none;
}

#bio img {
    float: right;
    margin: 15pt;
    outline: solid;
    outline-width: 2pt;
    outline-color: ghostwhite;
    outline-offset: 7pt;
}

hr {
    margin: 5pt;
}

h1 {
    outline: solid;
    outline-width: 2pt;
    outline-color: ghostwhite;
    border: 4pt;
}