* {background-color: rgb(8, 9, 20);
    color: white;
    text-decoration-color: whitesmoke;
    text-justify: left;
}

p {font-family: "Times New Roman", Times, serif;
    font-size: 12px;
    letter-spacing: 0px;
    word-spacing: 0.4pt;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.projectlink:link {
    color: ghostwhite;
    text-decoration-color: ghostwhite;
}

.projectlink:hover {
    color: crimson;
    text-decoration-color: crimson;
}

.projectlink:visited {
    color: antiquewhite;
    text-decoration-color: antiquewhite;
}

em {
    color: ghostwhite;
}

div.columnLeft {
    top: 3%;
    display: inline-block;
    width: 33%;
}

div.columnRight {
    top: 3%;
    display: inline-block;
    width: 33%;
}

div.columnCenter {
    top: 3%;
    display: inline-block;
    width: 33%;
}

#bio p {
    display: inline;
    clear: none;
    margin: 5% 3%;
}

#bio img {
    float: right;
    margin: 15pt;
    outline: solid;
    outline-width: 2pt;
    outline-color: ghostwhite;
    outline-offset: 7pt;
}

hr {
    margin: 5pt;
}

h1 {
    text-align: center;
    outline: solid;
    outline-width: 2pt;
    outline-color: ghostwhite;
    padding: 1%;
    margin: 3%;
}

li {
    font-size: 12pt;
}

li p {
    margin-top: 1%;
    border: 0pt;
}

h2 {
    font-size: 16pt;
    margin-bottom: 0pt;
    border-bottom: 0pt;
    padding-bottom: 0pt;
}