.projectListElement {
    clear: right;
}

.projectName {
    margin: auto;
    width: 50%;
    text-align: center;
}

.projectLink {
    display: block;
}

.projectText {
    display: block;
    text-align: center;
    margin-right: 20pt
}

.projectImg {
    width: 25%;
    height: 25%;
    display: inline-block;
    float: right;
    margin: 5pt;
}
